.git
.github
.turbo
.next
**/.next
**/.turbo
**/node_modules
**/dist
**/coverage
**/.vercel
**/.cache

.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

docker-compose*.yml
Caddyfile
README.md
docs
